<section class='contract'>
  <dl>
    <dt>Cliente</dt>
    <dd><%= @contract.customer.name %></dd>

    <dt>Equipamentos</dt>
    <dd>
      <ul>
        <% @contract.equipment.each do |equipment|%>
          <li><%= equipment.model %> (<%= equipment.category.name %>) </li>
        <% end %>
      </ul>
    </dd>
    <dt>Valor do Equipamento</dt>
    <dd><%= @contract.acquisition_price %></dd>
    <dt>Endereço de Entrega</dt>
    <dd><%= @contract.delivery_address %></dd>
    <dt>Responsável</dt>
    <dd><%= @contract.responsable %></dd>
    <dt>CPF</dt>
    <dd><%= @contract.cpf %></dd>
    <dt>Prazo de locação</dt>
    <dd><%= @contract.rental_period_days%></dd>
    <dt>Data Inicial</dt>
    <dd><%= friendly_date @contract.initial_date.to_date %></dd>
    <dt>Valor do Desconto</dt>
    <dd>R$ <%= @contract.discount %></dd>
    <dt>Valor do Contrato</dt>
    <dd>R$ <%= @contract.amount %></dd>
    <dt>Data de Emissão</dt>
    <dd><%= friendly_date @contract.created_at%></dd>
    <dt>Data de Retorno</dt>
    <dd><%= friendly_date @contract.return_date.to_date %></dd>
  </dl>
  <% if @contract.receipt.nil? %>
    <%= link_to "Emitir recibo", receipt_contract_path(@contract),  method: :post %>
  <% else %>
    <%= link_to "Visualizar recibo", receipt_contract_path(@contract) %>
  <% end %>
  <%= link_to 'Emitir recibo de devolução', new_contract_return_receipt_path(@contract) %>
</section>
