<section class="equipment">
  <dl>
    <dt>Categoria</dt>
    <dd><%= @equipment.category.name %></dd>
    <dt>Modelo</dt>
    <dd><%= @equipment.model %></dd>
    <dt>Número de Série</dt>
    <dd><%= @equipment.serial_number %></dd>
    <dt>Número de Inventário</dt>
    <dd><%= @equipment.asset_number %></dd>
    <dt>Valor do Equipamento</dt>
    <dd><%= @equipment.acquisition_price %></dd>
  </dl>
</section>
