<div class="row">
  <div class="col-md-4">
    <%= image_tag 'rafael.jpg', alt:'Rafael', class:'img img-responsive'%>
  </div>
  <% if user_signed_in? %>
    <section class='contracts col-md-8'>
      <% @contracts.each do |contract| %>
      <%= link_to contract do %>
        <div class="contract col-md-12 jumbotron">
          <p>Cliente: <%= contract.customer.name %></p>
          <p>Equipamentos:</p>
          <ul>
            <% contract.equipment.each do |equipment|%>
              <li><%= equipment.model %></li>
            <% end %>
          </ul>
          <p>Data de término: <%= friendly_date contract.calculate_return_date %></p>
        </div>
      <% end %>
      <% end %>
    </section>
  <% else %>
    <div class="jumbotron col-md-8">
      <h1>Bem vindo à Equipa</h1>
      <%= link_to 'Pedir orçamento', new_budget_path, class: 'btn btn-info', role: 'button' %>
    </div>
  <% end %>
</div>
