<section class="customer">
  <h1><%= @customer.name %></h1>
  <dl>
    <dt>Endereço de faturamento:</dt>
    <dd><%= @customer.billing_address %></dd>
    <dt>E-Mail:</dt>
    <dd><%= @customer.mail %></dd>
    <dt>Telefone:</dt>
    <dd><%= @customer.phone %></dd>
    <dt>CNPJ:</dt>
    <dd><%= @customer.cnpj %></dd>
  </dl>
</section>
