<%= simple_form_for @receipt do |f| %>
  <%= f.input :contract, label: 'Contrato' %>
  <%= f.input :equipment, label: 'Equipamentos' %>
  <%= f.input :address, label: 'Endereço' %>
  <%= f.input :delivery_date, label: 'Data de Entrega' %>
    <p>Assinatura:</p>
    <hr>
  <%= f.button :submit, 'Criar contrato' %>
<% end %>
