<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Equipa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class:'navbar-brand' do %>
        Equipa!  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      <% end %>
      <ul class="nav navbar-nav">
        <li>
          <%= link_to new_contract_path do %>
            Emitir Contrato  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          <% end %>
        </li>
        <li>
          <%= link_to new_equipment_path do %>
            Cadastrar Equipamento  <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
          <% end %>
        </li>
        <li>
          <%= link_to new_customer_path do %>
            Cadastrar Clientes  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <% end %>
        </li>
        <li>
          <%= link_to prices_path do %>
            Tabela de Preços  <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
          <% end %>
        </li>
        <li>
          <%= link_to new_budget_path do %>
            Enviar Orçamento  <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
          <% end %>
        </li>
        <% if !user_signed_in? %>
          <li>
            <%= link_to 'Área administrativa', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
      </nav>
    </div>
    <div class="container">
      <p><%= flash[:error] %></p>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user_signed_in? %>
        <h2>Olá <%= current_user.email %></h2>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
